In [2]:
import pandas as pd #imports python libraries
import matplotlib.pyplot as plt
import ast
from datasets import load_dataset
import seaborn as sns
import matplotlib.ticker as mticker #formating module

ds = load_dataset("lukebarousse/data_jobs") #imports data
df = ds['train'].to_pandas() #imports data inot python

/opt/anaconda3/envs/py_env/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [31]:
for i in range(0, 160_000, 10_000):
    print(i)
df_count.idxmax()

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000

count    python
dtype: object

In [49]:
df["job_skills"]= df["job_skills"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x) # cleans job skills

df_ds = df[(df['job_country'] == "United States") & (df["job_title_short"] == "Data Scientist")] # filters for specific job and country

df_ds_exploded = df_ds.explode("job_skills") # creates a row for each skill in a job posting

skill_count = df_ds_exploded["job_skills"].value_counts() # counts job postings by skill

df_count = pd.DataFrame(skill_count) #converts to dataframe

skill_pay  = df_ds_exploded.groupby("job_skills")['salary_year_avg'].median().sort_values(ascending=False) #calculates median salary per skill

df_pay = pd.DataFrame(skill_pay).dropna() # converts to data frame and deletes NaN rows

df_skills = df_count.merge(df_pay, on="job_skills").sort_values(ascending=False, by="count") #merges two dataframes into one

df_skills

             count  salary_year_avg
job_skills
python       42379         131867.0
sql          30034         134500.0
r            26022         126000.0
sas          14340         120000.0
tableau      13859         125000.0
...            ...              ...
groovy           8         135000.0
erlang           7         113500.0
svelte           5          99150.0
qt               4         110000.0
objective-c      3         164500.0

[181 rows x 2 columns]